<% @title = "Home" %>

<div class="full-screen">
  <div class="column sidebar">
    This is the vertical nav area
  </div>
  <div class="column main">
    <%= image_tag("girl-on-dryer.jpg") %>
  </div>
</div>
