// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Globals
 */

 /* Colors */
 $blue: #001E1E;
 $pink: #FF3278;
 $orange: #FF9933;
 $black: #000000;

 .container-fluid {
  
 }

.row {
  overflow: auto;
}

/* Sidebar Styling */

.sidebar {
  //width: auto;
  //height: auto;
  background-color: $black;
  //overflow: visible;
}


  /* Main area Styling */

.main {
  background: url("girl-on-dryer.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: $black;
  overflow: auto;
}

.main .call-to-action {
  
}