<!-- Follow remaining instructions on https://coderwall.com/p/ej0mhg/open-a-rails-form-with-twitter-bootstrap-modals-->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
</div>
